* {
    padding: 0;
    margin: 0;
    border-style: border-box;
}

:root {
  --main-flower: #517bd6;
  --nose: #ffc0cb;
  --stem: #51d691;
  --pot: #FF7043;
  --pot-shadow: #d66f51;
}

#background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("../image/Anohana_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
}

#flower {
    width: 100%;
    height: 100%;
    left: -100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contain {
    width: 60px;
    height: 20px;
    display: flex;
    place-content: center;
}

.flower__head {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    background: var(--main-flower);
    margin: auto;
    transition-property: transform, opacity;
    transition-duration: 30s, 10s;
    transition-delay: 0s, 3s;
    opacity: 0.7;
}

.flower__head::after, .flower__head::before {
    content: '';
    position: absolute;
    background: var(--main-flower);
    border-radius: 20px;
    width: 30px;
    height: 10px;
    transform: rotate(60deg);
}

.flower__head::before {
    transform: rotate(-60deg);
}