* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    /* background:rgb(255, 255, 255, 0.25); */
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

#abc {
    color:rgb(255, 255, 255);
    /* margin: auto; */
    bottom: -100px;
    position: relative;
    width: 200px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    /* background:rgb(0, 0, 0, 0.8);
    box-shadow: 0 0 10px 3px rgb(255, 255, 255, 0.1); */
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

#notify {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1 ;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
}

#background {
    display: block;
    width: 100%;
    /* height: 100%; */
    background: url("../image/Bing_1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    min-height: 100vh;
}

.header {
    margin-bottom: 50px;
    position: fixed;
    top: -56px;
    width: 100%;
    height: 56px;
    background: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.3);
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 1;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    align-content: right;
    justify-content: right;
}

ul {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    position: relative;
}

li {
    position: static;
    width: 100%;
    min-width: 70px;
    height: 100%;
    list-style: none;
    place-items: center;
}

.header ul li a {
    border-radius: 25px;
    place-items: center;
}

.header ul li a.active, div.active {
    background:rgb(255, 255, 255, 0.25);
    box-shadow: 0 0 20px 5px rgb(0, 0, 0, 0.2);
}

#content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    background: rgb(255, 255, 255, 0.5);
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 25px;
    /* align-content: left; */
    box-shadow: 0 0 20px 1px rgb(0, 0, 0);
    /* box-sizing: border-box; */
    /* position: initial; */
}

#content div {
    max-width: 300px;
    max-height: 300px;
    margin: 10px 0;
}

#content div img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

h2 {
    margin-bottom: 20px;
}

p h2 {
    text-align: center;
}

img {
    margin: auto;
    position: relative;
    width: 25px;
    height: 25px;
}

.header ul li a:hover img{
    transform: scale(1.7);
    transition: 0.25s;
}

#menu {
    height: 30px;
}

#view-image {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-content: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.3);
    visibility: hidden;
}

#view-image img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}

#left {
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#right {
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
